<div class="container">
    <div class="display-4" *ngIf="artist">{{artist.name}}</div>
    <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let album of albums">
            <div class="card">
                <img [src]="album.img" class="card-img-top" [alt]="album.name">
                <div class="card-body text-center">
                    <h5 class="card-title">{{album.name}}</h5>
                    <p class="card-text">{{album.releaseYear}} - {{album.trackCount}} tracks</p>
                    <p class="card-text">{{album.genre}}</p>
                    <a class="btn btn-outline-secondary" (click)="showAlbum(album.id)">Tracks</a>
                </div>
            </div>
        </div>
    </div>
</div>
