<div class="container">    
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="card" *ngIf="album">
                <div class="card-header text-center">
                    <h4>{{album.artistName}}</h4>
                  </div>
                <img [src]="album.img" class="card-img-top" [alt]="album.name">
                <div class="card-body text-center">
                    <h5 class="card-title">{{album.name}}</h5>
                    <p class="card-text">{{album.releaseYear}} - {{album.trackCount}} tracks</p>
                    <p class="card-text">{{album.genre}}</p>                    
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <table class="table table-sm table-borderless font-weight-light small">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col" class="text-center">Genre</th>
                    <th scope="col" class="text-center">Duration</th>
                    <th scope="col" class="text-center">Play</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let track of tracks; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{track.name}}</td>
                    <td class="text-center">{{track.genre}}</td>
                    <td class="text-center">{{track.trackTime}}</td>
                    <td class="text-center"><app-track-control [previewUrl]="track.previewUrl"></app-track-control></td>                    
                  </tr>                  
                </tbody>
              </table>
        </div>
    </div>
</div>
<app-player></app-player>
