<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
      <img src="/assets/itunes.png" width="30" height="30" alt="">
      iTunes music
  </a>
</nav>
<br>
<router-outlet></router-outlet>
