<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Artist's name" aria-label="Artist's name"
            aria-describedby="button-addon2" (keyup)="searchArtists()" #searchInput>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    </div>
    <br>
    <ul class="list-group">
        <button type="button" 
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
            *ngFor="let artist of artists"
            (click)="showArtist(artist.id)">
            {{artist.name}}
            <span class="badge badge-primary badge-pill">{{artist.genre}}</span>
        </button>        
    </ul>
</div>
  